---
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Clue">
	<main slot="main" class="parent" >

		<!-- hero section  -->

		<section class="hero is section-padding">
			<div class="align-middle hero-section">
				<img class="image" src="/images/pic.jpg" alt="picture of the developer" />
				<div>
					<p class="name z-margin">Carlos Luevano</p>
					<p class="jobtitle z-margin">Front End Developer</p>
				</div>
			</div>

			<!-- hero summary -->

			<div>
				<p class="summary z-margin">
					Hi I’m a Front End Developer with over 2+ years of experience. 
					I like making websites profitable for businesses by using my expertise in design, seo, and accessibility. 
				</p>
			</div>
		</section>

		<!-- experience section -->
		
		<h2 class="subtitle is section-padding">Experience</h2>

		<!-- MDJ studios -->
		<section class="exp-parent is section-padding">
			<div class="exp-job">
				<p class="exp-job-date z-margin">Nov 2023 - Nov 2024</p>
				<p class="exp-job-title z-margin">Software Developer - MDJ Studios</p>
				<p class="exp-job-desc">
					Worked with a small team to create websites for local businesses, 
					focusing on functionality and ease of use. Gained experience in improving search 
					engine rankings and making websites accessible to a broader audience. Additionally, 
					reviewed a SaaS product to ensure it complied with Etsy's requirements, including removing references to AI and related features.
					</p>
				<div class="exp-job-tech">
					<p class="exp-job-tech-p">HTML</p>
					<p class="exp-job-tech-p">CSS</p>
					<p class="exp-job-tech-p">Javascript</p>
					<p class="exp-job-tech-p">React</p>
				</div>
			</div>

			<!-- infosys -->
			<div class="exp-job">
				<p class="exp-job-date z-margin">Feb 2022 - Jan 2024</p>
				<p class="exp-job-title z-margin">Tech Support Associate - Infosys</p>
				<p class="exp-job-desc">
						Created documentation and assisted in training new employees for my role. 
						During a contract assignment, managed user accounts to ensure accurate data for on-site 
						technicians, configured system settings, and collaborated with colleagues to document processes and improve workflows.
					</p>
				<div class="exp-job-tech">
					<p class="exp-job-tech-p">Microsoft Excel</p>
					<p class="exp-job-tech-p">Microsoft Word</p>
				</div>
			</div>

			<!-- YNA -->
			<div class="exp-job">
				<p class="exp-job-date z-margin">Aug 2020 - Dec 2023</p>
				<p class="exp-job-title z-margin">Software Developer - YNA (Young and Ambitious)</p>
				<p class="exp-job-desc">	
						Participated in meetings, contributed to design documentation, 
						and planned applications designed to support a community initiative 
						helping minorities enter the tech industry. All applications were made open-source.
					</p>
				<div class="exp-job-tech">
					<p class="exp-job-tech-p">HTML</p>
					<p class="exp-job-tech-p">CSS</p>
					<p class="exp-job-tech-p">Javascript</p>
					<p class="exp-job-tech-p">React</p>
					<p class="exp-job-tech-p">Figma</p>
					<p class="exp-job-tech-p">React Testing Library</p>
					<p class="exp-job-tech-p">Docker</p>
				</div>
			</div>


		</section>

		<!-- Projects section  -->

		<h2 class="subtitle is section-padding">Projects</h2>

		<section class="exp-parent is section-padding  proj-margin">
			<a href="https://www.rogerswildlife.org/" class="projec-link" target="_blank">
				<div class="proj-tech proj">
					<div class="icon">
						<p>click to view</p>
						<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M21.5223 5.74723C22.3809 3.68663 20.3136 1.61941 18.253 2.478L4.0366 8.40151C1.25632 9.55996 1.72626 13.6348 4.69725 14.1299L9.13133 14.8689L9.87034 19.303C10.3655 22.274 14.4403 22.7439 15.5988 19.9637L21.5223 5.74723Z" fill="#F4F5F6"/>
						</svg>
					</div>
					<p class="proj-tech-title z-margin">Rogers Wildlife Rehabilitation Center</p>
					<p class="proj-tech-desc z-margin">
						Developed a website for a local non-profit utilizing modern tech. Updated the look
						of the original website and added new features.
					</p>
					<div class="exp-job-tech">
						<p class="proj-tech-p">HTML</p>
						<p class="proj-tech-p">CSS</p>
						<p class="proj-tech-p">Next JS</p>
					</div>
					
				</div>
			</a>
		</section>
	</main>
</PageLayout>

<style>


	.z-margin {
		margin: 0;
	}

	.is {
		max-width: 694px;
	}


	.align-middle {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.hero-section {
		margin-bottom: 34px;
	}

	.name {
		font-size: 24px;
	}

	.jobtitle {
		font-size: 18px;
	}

	.summary {
		font-size: 1.5rem;
	}



	.image {
		width: 102px;
		height: 83px;
		margin-right: 43px;
		object-fit: cover;
		border-radius: 5px;
	}

	.icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		right: 5px;
		top: 10px;
		width: 115px;
		height: 10px;
	}

	.subtitle {
		width: 100%;
		max-width: ;
		margin: 50px 0 50px 0;
		font-size: 32px;
	}

	.exp-parent {
		display: flex;
		flex-direction: column;
		width: 100%;
	}


	.exp-job {
		display: flex;
		justify-content: start;
		flex-direction: column;
		width: 100%;
	}

	.exp-job:not(:last-child) {
		margin-bottom: 40px;
	}

	.exp-job-date {
		color: var(--primary);
	}

	.exp-job-title {
		font-size: 20px;
	}

	.exp-job-desc {
		margin: 0 0 14px 0;
	}

	.exp-job-tech {
		display: flex;
		flex-wrap: wrap;
		
	}

	.exp-job-tech-p {
		margin: 0 10px 0 0;
		padding: 3px 5px;
		background-color: #2A2D30;
		border-radius: 5px;
		border: .5px solid rgba(224,224,224,.1);

	}

	.exp-job-tech-p {
		margin-bottom: 5px;
	}

	.proj {
		position: relative;
	}

	.proj-tech {
		width: 100%;
		background-color: #2A2D30;
		border-radius: 5px;
		border: .5px solid rgba(224,224,224,.1);
		margin: 0 0 10px 0;
		padding: 18px 20px;
	}

	.proj-tech-title {
		font-size: 20px;
	}

	.proj-tech-desc {
		margin: 10px 0;
	}

	.proj-tech-p {
		color: var(--primary);
		margin: 0 10px 0 0;
	}


	.projec-link, .projec-link:visited {
		width: 100%;
		color: var(--text);
		text-decoration: none; 
	}

	/* .proj:hover {
		background-color: #1c1e20;
	} */

	.proj-margin {
		margin-bottom: 20px;
	}

	@media (max-width: 730px) {
		.section-padding {
			padding: 0 10px;
		}

		.proj-tech {
		padding: 40px 20px;
		}
	}



</style>
