---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

import GitHubIcon from "../components/ui/icons/github.astro";
import TwitterIcon from "../components/ui/icons/twitter.astro";

import '../styles/global.css';

const { href, class: className, ...props } = Astro.props;
const path = Astro.url.pathname.replace(/\/$/, "");

const isHome = href === '/' && path === '';
const isOtherPages = typeof href === "string" && href.length > 1
    ? path.substring(1).startsWith(href.substring(1))
    : false;
const isActive = isHome || isOtherPages
---

<nav class="navlinks">
    <div class="navcontainer">
        <a href="/" class="nav-link list-i">Clue</a>
        <ul class="social-list list">
            <li class="link-margin link list-i"><a href="https://github.com/Clue355" class="link list-i" target="_blank">Github</a></li>
            <li class="list-i"><a href="https://www.linkedin.com/in/carlos-luevano/" class="link list-i" target="_blank">Linkedin</a></li>
        </ul>
        <ul class="navlist list">
            <li class=""><a href="/blog/" class="link list-i" >Blog</a></li>
        </ul>
    </div>
</nav>
<style>

    .social-list {
        display: flex;
        justify-content: space-between;
        width: 10rem;
        margin: 0;
    }

    .social-list > li {
        margin: 0;
    }
    
    .navlinks {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 136px;
        width: 100%;
    }

    .nav-link {
		width:min-content;
	}

    .navcontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    .navlist {
        display: flex;
        justify-content: space-between;
        max-width: 10rem;
        width: max-content;
    }

    .navlist > li {
        margin: 0;
    }

    .list {
        list-style-type: none;
    }

    .list-i:hover {
        color: azure ;
    }

    .list-i{
        color: var(--primary);
    }


	@media (max-width: 730px) {
		.navcontainer {
            width: 80%;
        }
	}

</style>
