---
/* 
  This layout is used in 
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Favicon from "./Favicon.astro";
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <Favicon />
    <slot name="meta" />
  </head>

  <body class="text-text-body bg-bg-body max-w-3xl mx-auto px-4 sm:px-8">
    <Navbar/>
    <main id="main">
      <slot name="main" />
    </main>

    <style>
      body {
        min-height: 100vh;
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
